<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="com.github.rodolfoghi.cenourapp"
        version="1.0.0">
    <name>
        CenouraApp
    </name>

    <description>
        Menu do restaurante Só Cenoura
    </description>

    <author href="http://rodolfoghi.github.io" email="suporte@minhaempresa.com">
        Rodolfo Ghiggi
    </author>

    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <preference name="permissions" value="none" />
    <platform name="android" />

    <icon src="icon.png" />
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />
</widget>